<nav class="navbar navbar-expand-xl fixed-top">
    <div class="container h-100">
      <a class="navbar-brand" href="{% url 'barmas:tabel' %}">
        <h1 class="tm-site-title mb-0">Halaman Utama</h1>
      </a>
      <button
        class="navbar-toggler ml-auto mr-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-5 h-100">
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'jenisikan:halamanproduk' %}">
              <i class="fa-solid fa-fish-fins"></i>Produk
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link d-block" href="{% url 'login:logout' %}">
              {{ pengguna }}, <b>Logout</b>
            </a>
          </li>
        </ul>
    </div>
  </nav>